// @font-face {
//   font-family: "Rubik";
//   src: local("Rubik"), local("Rubik-Regular"), url("../fonts/Rubik.woff2") format("woff2"),
//     url("../fonts/Rubik.woff") format("woff"), url("../fonts/Rubik.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: "AvanGrade";
//   src: local("AvanGrade"), local("AvanGrade"), url("../fonts/AVG65.TTF") format("truetype");
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: "AvanGrade";
  src: local("AvanGrade"), local("AvanGrade"), url("../fonts/AVG65.woff2") format("woff2"),
    url("../fonts/AVG65.woff") format("woff");
  font-style: normal;
}
