@import "./vars";

*,
*::before,
*::after {
  font-family: 'Inter', sans-serif;
  font-weight: $font-m;
  font-size: 2.4rem;
  line-height: 3.1rem;
  color: $black-text;
  // outline: 0.1rem solid red;
}

html {
  background-color: $white;
}

body {
  overflow-x: hidden;

  &._hidden {
    overflow: hidden;
  }
}

body::-webkit-scrollbar {
  width: 1rem;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1)
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: $accent;
  /* цвет плашки */
  border-radius: 1rem;
  /* закругления плашки */
}

.container {
  max-width: 179rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.shadow-img {
  filter: drop-shadow(1rem 1rem 1.5rem rgba(0, 0, 0, 0.3));
}

.default-link {
  width: fit-content;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  transition: .3s;

  &::after {
    content: "";
    width: 100%;
    height: 0.3rem;
    background-color: $black-text;
    transition: .3s;
  }

  &:hover {
    color: $accent;

    &::after {
      background-color: $accent;
    }
  }

  @include breakpoint($xs-bp) {
    font-size: calc(1.2rem * 1.5);
    line-height: calc(1.5rem * 1.5);
    gap: 0.2rem;
  }
}

.dna-anim {
  width: 38.4rem;

  &__box {
    width: 100%;
    height: 5rem;
    position: relative;

    @include breakpoint($xs-bp) {
      height: calc(2rem * 1.5);
    }
  }

  &__item {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    @include breakpoint($xs-bp) {
      width: calc(2rem * 1.5);
      height: calc(2rem * 1.5);
    }

    &::before {
      content: "";
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      position: absolute;
      top: 100%;
      left: 10%;
      opacity: 0.15;
      transform: scale(0.8);
    }

    &::after {
      content: "";
      width: inherit;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      position: absolute;
      top: 60%;
      left: -80%;
      transform: scale(0.9);
    }

    &_left {
      left: 0;
      background: rgb(50, 168, 158);
      animation: 16s leftNode ease-in-out infinite;
    }

    &_right {
      right: 0;
      background: rgb(50, 168, 158);
      animation: 16s rightNode ease-in-out infinite;
    }

    @keyframes leftNode {
      0% {
        transform: scale(0.5);
        left: 0;
        z-index: 10;
        opacity: 0.75;
      }

      25% {
        transform: scale(1);
        opacity: 1;
      }

      50% {
        transform: scale(0.5) translateX(-100%);
        // left: calc(100% - 5rem);
        left: 100%;
        z-index: 0;
        opacity: 0.75;
      }

      75% {
        transform: scale(0.25);
        opacity: 0.5;
      }

      100% {
        transform: scale(0.5);
        left: 0;
        opacity: 0.75;
      }
    }

    @keyframes rightNode {
      0% {
        transform: scale(0.5);
        right: 0;
        opacity: 0.75;
      }

      25% {
        transform: scale(0.25);
        opacity: 0.5;
      }

      50% {
        transform: scale(0.5) translateX(100%);
        // right: calc(100% - 5rem);
        right: 100%;
        opacity: 0.75;
      }

      75% {
        transform: scale(1);
        opacity: 1;
      }

      100% {
        transform: scale(0.5);
        right: 0;
        opacity: 0.75;
      }
    }
  }
}