$cos_bp: 1330px;
$xl-bp: 1024px;

$lg-bp: 920px;
$sm-bp: 500px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1440px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;
$xs-bp: 375px;

// colors
$black-text: #0C0D0D;
$black: #000000;
$accent: #31A59B;
$white: #FAFAFA;

// fonts
$font-el: 200;
$font-l: 300;
$font-r: 400;
$font-m: 500;
$font-s: 600;
$font-b: 700;
$font-eb: 800;