$xl-bp: 1023px;
$sm-bp: 744px;
$xs-bp: 480px;

// colors
$black-text: #0C0D0D;
$black: #000000;
$accent: #31A59B;
$white: #FAFAFA;

// fonts
$font-el: 200;
$font-l: 300;
$font-r: 400;
$font-m: 500;
$font-s: 600;
$font-b: 700;
$font-eb: 800;

// font-family: 'Inter', sans-serif;
// font-family: 'Raleway', sans-serif;