.about {
  display: flex;
  height: 100%;

  @include breakpoint($xl-bp) {
    height: unset;
    display: block;
  }

  &-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include breakpoint($xl-bp) {
      height: unset;
    }
  }

  &-main {
    height: 100%;
    min-width: 192rem;
    display: flex;
    flex-direction: column;

    @include breakpoint($xl-bp) {
      height: unset;
      min-width: unset;
      gap: 4rem;
      margin-bottom: 13rem;
    }

    &-content {
      flex: 1;
      padding: 15.8rem 8.3rem 6.4rem;
      display: flex;
      justify-content: space-between;

      @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 2rem;
        padding: 16.3rem 1.5rem 0;
      }
    }

    &__title {
      font-weight: $font-eb;
      font-size: 9.6rem;
      line-height: 11.6rem;
      background: linear-gradient(90deg, #31A49A 0%, #39BDB3 14.81%, #41D7CD 30.82%, #44E0D6 48.08%, #48D6DC 62.2%, #4FC4E5 80.1%, #5AA7F5 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include breakpoint($xl-bp) {
        font-size: 4.8rem;
        line-height: 5.8rem;
      }
    }

    &__text {
      max-width: 94.5rem;
      font-weight: $font-b;
      font-size: 3.6rem;
      line-height: 4.6rem;
      letter-spacing: 0.03em;
      padding-top: 5.8rem;

      @include breakpoint($xl-bp) {
        padding: 0;
        font-size: 2.4rem;
        line-height: 3.1rem;
      }
    }

    &__link {
      width: 10.5rem;
      height: 1.6rem;
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        svg {
          fill: $accent;
        }
      }

      svg {
        object-fit: contain;
        object-position: center center;
        width: 100%;
        height: 100%;
        transition: .3s;
      }
    }

    &__img {
      flex: 1;
      position: relative;

      @include breakpoint($xl-bp) {
        flex: unset;
        width: 100%;
        height: 33.3vw;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(49, 164, 154, 0.16);
      }

      img {
        object-fit: cover;
        object-position: center top;
        width: 100%;
        height: 100%;
      }
    }
  }

  &-info {
    display: flex;
    flex: none;
    padding: 9.7rem 8rem 0;

    @include breakpoint($xl-bp) {
      padding: 0 1.5rem;
      flex-direction: column;
      gap: 4rem;
      margin-bottom: 13rem;
    }

    &-main {
      padding-top: 13.7rem;
      padding-bottom: 8.6rem;
      padding-right: 2.1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      @include breakpoint($xl-bp) {
        padding: 0;
        height: unset;
        gap: 6rem;
      }

      &__subtitle {
        width: 56.5rem;
        font-weight: $font-eb;
        font-size: 3.6rem;
        line-height: 4.6rem;
        letter-spacing: 0.03em;

        @include breakpoint($xl-bp) {
          width: unset;
          max-width: 76vw;
        }

        span {
          color: $accent;
          font-size: inherit;
          font-weight: inherit;
          line-height: inherit;
          letter-spacing: inherit;
        }
      }

      &__text {
        font-size: 2.4rem;
        line-height: 3.1rem;
        letter-spacing: 0.03em;
        max-width: 49.2rem;

        @include breakpoint($xl-bp) {
          max-width: 67vw;
        }
      }
    }

    &__inner {
      display: flex;

      @include breakpoint($xl-bp) {
        gap: 3rem;
        height: 61vw;
      }
    }

    &__img {
      height: 100%;
      margin-right: 9rem;

      @include breakpoint($xl-bp) {
        width: 49.46vw;
        height: 100%;
        margin: 0;
      }

      img {
        object-fit: contain;
        object-position: center center;
        height: 100%;

        @include breakpoint($xl-bp) {
          object-fit: cover;
          width: 100%;
        }
      }
    }

    &-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6rem;

      @include breakpoint($xl-bp) {
        gap: 0rem;
        justify-content: space-between;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      &__title {
        font-weight: $font-eb;
        font-size: 9.6rem;
        line-height: 11.3rem;
        background: linear-gradient(90deg, #31A49A 0%, #39BDB3 14.81%, #41D7CD 30.82%, #44E0D6 48.08%, #48D6DC 62.2%, #4FC4E5 80.1%, #5AA7F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        @include breakpoint($xl-bp) {
          font-size: 6.4rem;
          line-height: 7.5rem;
        }
      }

      &__text {
        font-size: 2.4rem;
        line-height: 3.1rem;
        letter-spacing: 0.03em;

        @include breakpoint($xl-bp) {
          font-size: 1.8rem;
          line-height: 2.3rem;
        }
      }
    }
  }

  &-team {
    flex: none;
    padding: 0 8rem;
    display: flex;
    gap: 14.1rem;

    @include breakpoint($xl-bp) {
      padding: 0rem 1.5rem;
      gap: 6rem;
      flex-direction: column;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 96.9rem;
      padding-top: 13.8rem;

      @include breakpoint($xl-bp) {
        width: unset;
        padding: 0;
      }
    }

    &__text {
      font-size: 2.4rem;
      line-height: 3.1rem;
      letter-spacing: 0.03em;
    }

    &-list {
      display: flex;
      gap: 8rem;
      height: 100%;
      padding-top: 9.7rem;

      @include breakpoint($xl-bp) {
        padding: 0 1.5rem;
        height: unset;
        gap: 0rem;
      }

      &-wrapper {
        @include breakpoint($xl-bp) {
          width: calc(100% + 3rem);
          margin: 0 -1.5rem;
        }
      }

      &__item {
        padding-top: 4rem;
        width: 41.8rem;
        display: flex;
        flex-direction: column;

        // &:not(:last-child) {
        //   padding-right: 7.7rem;
        //   border-right: 0.3rem solid $black;
        // }

        padding-right: 7.7rem;
        border-right: 0.3rem solid $black;

        @include breakpoint($xl-bp) {
          height: 86.2rem;
          width: 49.8rem;

          &:not(:first-child) {
            width: calc(49.8rem + 8rem);
            padding: 4rem 7.7rem 0rem 8rem;
          }
        }
      }

      &__img {
        width: 100%;
        height: 56.4rem;
        margin-bottom: 3rem;

        img {
          object-fit: cover;
          object-position: center center;
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: 2.4rem;
        line-height: 3.1rem;
        letter-spacing: 0.03em;
        margin-bottom: 2rem;
      }

      &__text {
        font-weight: $font-r;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }

    &-dna {
      // width: 80rem;
      flex: 1;
      // background-color: rgba(255, 128, 128, 0.314);
      // position: relative;
      // overflow: hidden;
      margin-left: 12.4rem;
      width: 38.4rem;

      @include breakpoint($xl-bp) {
        display: none;
      }

      &__inner {
        position: absolute;
        top: 0;
        left: 12.4rem;
        width: 38.4rem;
        height: 100%;
        // background: linear-gradient(180deg, #31A49A 0%, #39BDB3 14.81%, #41D7CD 30.82%, #44E0D6 48.08%, #48D6DC 62.2%, #4FC4E5 80.1%, #5AA7F5 100%);
      }

      &__box {
        width: 100%;
        height: 5rem;
        position: relative;
      }

      &__item {
        position: absolute;
        top: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;

        &::before {
          content: "";
          width: inherit;
          height: inherit;
          border-radius: inherit;
          background-color: inherit;
          position: absolute;
          top: 100%;
          left: 10%;
          opacity: 0.15;
          transform: scale(0.8);
        }

        &::after {
          content: "";
          width: inherit;
          height: inherit;
          border-radius: inherit;
          background-color: inherit;
          position: absolute;
          top: 60%;
          left: -80%;
          transform: scale(0.9);
        }

        &_left {
          left: 0;
          background: rgb(50, 168, 158);
          animation: 16s leftNode ease-in-out infinite;
        }

        &_right {
          right: 0;
          background: rgb(50, 168, 158);
          animation: 16s rightNode ease-in-out infinite;
        }

        @keyframes leftNode {
          0% {
            transform: scale(0.5);
            left: 0;
            z-index: 10;
            opacity: 0.75;
          }

          25% {
            transform: scale(1);
            opacity: 1;
          }

          50% {
            transform: scale(0.5);
            left: calc(100% - 4rem);
            z-index: 0;
            opacity: 0.75;
          }

          75% {
            transform: scale(0.25);
            opacity: 0.5;
          }

          100% {
            transform: scale(0.5);
            left: 0;
            opacity: 0.75;
          }
        }

        @keyframes rightNode {
          0% {
            transform: scale(0.5);
            right: 0;
            opacity: 0.75;
          }

          25% {
            transform: scale(0.25);
            opacity: 0.5;
          }

          50% {
            transform: scale(0.5);
            right: calc(100% - 5rem);
            opacity: 0.75;
          }

          75% {
            transform: scale(1);
            opacity: 1;
          }

          100% {
            transform: scale(0.5);
            right: 0;
            opacity: 0.75;
          }
        }
      }
    }
  }
}