.dna-about {
  min-height: 100vh;
  display: flex;
  position: relative;
  border-top: 0.3rem solid $accent;

  @include breakpoint($xl-bp) {
    display: block;
    border: none;
    margin-bottom: 13rem;
  }

  &-bg {
    flex: none;
    width: 119.9rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/dna-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;
    border-right: 0.3rem solid $accent;

    @include breakpoint($xl-bp) {
      position: static;
      display: block;
      width: 100%;
      height: unset;
      background: transparent;
      padding: 0 1.5rem;
      margin-bottom: 2rem;
      border: none;
    }

    @include breakpoint($xs-bp) {
      margin-bottom: calc(2rem * 1.5);
    }
  }

  &__title {
    font-weight: $font-eb;
    font-size: 9.6rem;
    line-height: 11.3rem;
    color: #FFFFFF;

    @include breakpoint($xl-bp) {
      font-size: 4.8rem;
      line-height: 5.6rem;
      color: $black-text;
    }

    @include breakpoint($xs-bp) {
      font-size: calc(2.4rem * 1.5);
      line-height: calc(2.8rem * 1.5);
    }

    span {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-transform: uppercase;

      @include breakpoint($xl-bp) {
        background: linear-gradient(90deg, #31A49A 0%, #39BDB3 14.81%, #41D7CD 30.82%, #44E0D6 48.08%, #48D6DC 62.2%, #4FC4E5 80.1%, #5AA7F5 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }

  &-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    border-bottom: 0.3rem solid $accent;

    @include breakpoint($xl-bp) {
      padding: 0rem 1.5rem;
      border: none;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 6.7rem 6.6rem 7rem 0rem;

      &:not(:last-child) {
        border-bottom: 0.3rem solid $accent;
      }

      @include breakpoint($xl-bp) {
        padding: 4rem 0rem;
        justify-content: flex-start;
      }

      @include breakpoint($xs-bp) {
        padding: calc(2rem * 1.5) 0;
      }
    }

    &__number {
      flex: none;
      width: 7.5rem;
      font-weight: $font-el;
      font-size: 9.6rem;
      line-height: 11.6rem;
      color: $accent;

      @include breakpoint($xs-bp) {
        width: calc(3.5rem * 1.5);
        font-size: calc(4.8rem * 1.5);
        line-height: calc(5.8rem * 1.5);
      }
    }

    &__text {
      padding-top: 1.3rem;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: 0.03em;

      @include breakpoint($xl-bp) {
        max-width: 60vw;
      }

      @include breakpoint($sm-bp) {
        max-width: 52rem;
      }

      @include breakpoint($xs-bp) {
        font-size: calc(1.2rem * 1.5);
        line-height: calc(1.5rem * 1.5);
      }
    }
  }

  &-img {
    height: 48vw;
    display: none;

    @include breakpoint($xl-bp) {
      display: block;
    }

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }
}