<div class="about-wrapper">
  <section class="about">

    <div class="about-main">
      <div class="about-main-content">
        <h1 class="about-main__title">
          О нас
        </h1>

        <p class="about-main__text">
          Команда ДНКОД, это сплочённый коллектив новаторов и первопроходцев на пути создания клиник, реабилитационных
          центров и программ помощи зависимым, от идеи — до реализации.
        </p>

        <a href="#" class="about-main__link">
          <svg>
            <use href="#arrow-icon_big"></use>
          </svg>
        </a>
      </div>

      <div class="about-main__img">
        <img src="./assets/images/about-main.jpg" alt="dna">
      </div>
    </div>

    <div class="about-info">
      <div class="about-info-main">
        <h3 class="about-info-main__subtitle">
          Руководитель проекта <span>Павел Вороненко</span>, основатель «Клиники Маршака» и её учредитель
        </h3>

        <p class="about-info-main__text">
          Cмог собрать по всей стране команду профессионалов высшего уровня, для создания нового сверх эффективного
          решения помощи зависимым.
        </p>
      </div>

      <div class="about-info__inner">
        <div class="about-info__img">
          <img src="./assets/images/about-info.jpg" alt="info">
        </div>

        <ul class="about-info-list">
          <li class="about-info-list__item">
            <span class="about-info-list__title">16 лет</span>
            <span class="about-info-list__text">учредитель клиники Маршака</span>
          </li>
          <li class="about-info-list__item">
            <span class="about-info-list__title">5</span>
            <span class="about-info-list__text">авторских патентов</span>
          </li>
          <li class="about-info-list__item">
            <span class="about-info-list__title">25 лет</span>
            <span class="about-info-list__text">научно-практического опыта</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="about-team">
      <div class="about-team-info">
        <p class="about-team__text">
          Так и произошла некая кульминация 25-летнего опыта практики и научных запатентованных открытий специалистов
          нашей команды, в совокупности с передовыми западными разработками, которые позволили появиться на свет сверх
          новой и высокоэффективной программе ДНКОД
        </p>

        <div class="about-team-dna">
          <div class="about-team-dna__inner">
            <div class="about-team-dna__box">
              <span class="about-team-dna__item about-team-dna__item_left"></span>
              <span class="about-team-dna__item about-team-dna__item_right"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper about-team-list-wrapper">
        <ul class="swiper-wrapper about-team-list">
          <li class="swiper-slide about-team-list__item">
            <div class="about-team-list__img">
              <img src="./assets/images/about-team-1.jpg" alt="team">
            </div>

            <h4 class="about-team-list__title">Имя Фамилия Отчество</h4>
            <p class="about-team-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit neque quis risus accumsan ullamcorper.
              Donec pharetra nisl in mi blandit convallis.
            </p>
          </li>
          <li class="swiper-slide about-team-list__item">
            <div class="about-team-list__img">
              <img src="./assets/images/about-team-2.jpg" alt="team">
            </div>

            <h4 class="about-team-list__title">Имя Фамилия Отчество</h4>
            <p class="about-team-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit neque quis risus accumsan ullamcorper.
              Donec pharetra nisl in mi blandit convallis.
            </p>
          </li>
          <li class="swiper-slide about-team-list__item">
            <div class="about-team-list__img">
              <img src="./assets/images/about-team-1.jpg" alt="team">
            </div>

            <h4 class="about-team-list__title">Имя Фамилия Отчество</h4>
            <p class="about-team-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit neque quis risus accumsan ullamcorper.
              Donec pharetra nisl in mi blandit convallis.
            </p>
          </li>
          <li class="swiper-slide about-team-list__item">
            <div class="about-team-list__img">
              <img src="./assets/images/about-team-2.jpg" alt="team">
            </div>

            <h4 class="about-team-list__title">Имя Фамилия Отчество</h4>
            <p class="about-team-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In blandit neque quis risus accumsan ullamcorper.
              Donec pharetra nisl in mi blandit convallis.
            </p>
          </li>
        </ul>
      </div>
    </div>

  </section>
</div>