<div class="dna-about">
  <div class="dna-about-bg">
    <h2 class="dna-about__title">Что такое ДНКОД?</h2>
  </div>

  <ul class="dna-about-list">
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">1</span>

      <p class="dna-about-list__text">
        Специальный ДНК-тест для определение нехватки «гормонов счастья» — нейромедиаторов, позволяет разработать
        персональную программу, направленную на компенсацию недостающих гормонов, и, как следствие, нормализацию психо
        эмоционального состояния и устранение влечения к веществам и к игре;
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">2</span>

      <p class="dna-about-list__text">
        Уникальная, не имеющая аналогов психологическая методика «Модули восстановления», собранная по крупицам из
        реального опыта и знаний «гуру» выздоровления, ведущих специалистов передовых клиник и международных лидеров в
        области восстановления от зависимостей — позволяет сформировать мощную мотивацию на выздоровление и отказ от
        химических веществ и игры;
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">3</span>

      <p class="dna-about-list__text">
        Индивидуально подобранный препарат «блокатор», с учётом генетических особенностей, даёт возможность сформировать
        защитный КОД, благодаря которому употребление алкоголя не принесёт ожидаемого эффекта;
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">4</span>

      <p class="dna-about-list__text">
        Специальный ДНК-тест для определение нехватки «гормонов счастья» — нейромедиаторов, позволяет разработать
        персональную программу, направленную на компенсацию недостающих гормонов, и, как следствие, нормализацию психо
        эмоционального состояния и устранение влечения к веществам и к игре;
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">5</span>

      <p class="dna-about-list__text">
        Уникальная, не имеющая аналогов психологическая методика «Модули восстановления», собранная по крупицам из
        реального опыта и знаний «гуру» выздоровления, ведущих специалистов передовых клиник и международных лидеров в
        области восстановления от зависимостей — позволяет сформировать мощную мотивацию на выздоровление и отказ от
        химических веществ и игры;
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">6</span>

      <p class="dna-about-list__text">
        Индивидуально подобранный препарат «блокатор», с учётом генетических особенностей, даёт возможность сформировать
        защитный КОД, благодаря которому употребление алкоголя не принесёт ожидаемого эффекта;
      </p>
    </li>
  </ul>
</div>