<div class="dna-about">
  <div class="dna-about-bg">
    <h2 class="dna-about__title">
      Что такое
      <span>ДНКОД</span>
      ?
    </h2>
  </div>

  <ul class="dna-about-list">
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">1</span>

      <p class="dna-about-list__text">
        ДНКОД — это первая в России онлайн-площадка для лечения зависимостей на основе результатов ДНК-теста. Следуя
        логично выстроенным уникальным методикам, вы восстановитесь как физически, так и психически. Научитесь
        справляться со стрессами и депрессиями, провоцирующими тягу к алкоголю и наркотикам. Получите бесценный опыт и
        инструменты, которые научат вас контролировать свое психо-эмоциональное состояние и, самое главное, позволят
        достигнуть высокого уровня душевного комфорта.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">2</span>

      <p class="dna-about-list__text">
        Первопричина возникновения зависимости — индивидуальная нехватка нейромедиаторов: дофамина, серотонина,
        норадреналина и т. д., которые больше известны как «гормоны счастья». Специальный ДНК-тест определяющий их
        уровень в вашем организме, позволит разработать персональную программу восстановления, направленную на
        компенсацию недостающих нейромедиаторов. Как следствие, это нормализует ваше психо-эмоциональное состояние и
        устранит тягу к химическим веществам.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">3</span>

      <p class="dna-about-list__text">
        Уникальная, не имеющая аналогов психологическая методика «Модули восстановления», собранная по крупицам на
        основе реального опыта и знаний международных лидеров и ведущих специалистов передовых клиник, формирует мощную
        мотивацию к выздоровлению и отказу от употребления алкоголя или наркотиков.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">4</span>

      <p class="dna-about-list__text">
        Персональный курс кинезиогенной терапии (kinesis — движение, genesis — происхождение) — уникальное сочетание
        концепции Mindfulness и йога-терапии позволяет восстановить нейромедиаторный баланс естественным путем.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">5</span>

      <p class="dna-about-list__text">
        Индивидуальные онлайн-консультации с психологами, психотерапевтами и психиатрами-наркологами, а также лекции,
        вебинары и психологические задания (в рамках методики «Модули восстановления») формируют глубинную осознанность,
        что приводит к отказу от деструктивных моделей поведения.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">6</span>

      <p class="dna-about-list__text">
        Ежедневное использование электронных сервисов (самоанализ, план дня, журнал благодарностей и многое другое)
        помогает самостоятельно выявить деструктивные модели поведения и мышления и заменить их конструктивны.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">7</span>

      <p class="dna-about-list__text">
        Регулярное посещение психотерапевтических видео онлайн-групп позволит осознать общность проблем и получить
        ценную поддержку в виде обратной связи. Закрытая и полностью анонимная социальная сеть проекта создает для вас
        безопасное и ресурсное пространство, которое всегда с вами в личном кабинете сайта и удобном приложении на вашем
        смартфоне.
      </p>
    </li>
    <li class="dna-about-list__item">
      <span class="dna-about-list__number">8</span>

      <p class="dna-about-list__text">
        ГАРАНТИЯ результата. Мы настолько уверены в эффективности нашей программы, что готовы гарантированно вернуть вам
        деньги, если в течение 14 дней пациент не получит ожидаемого результата (при условии выполнения всех наших
        рекомендаций и правил программы)*.
      </p>
    </li>
  </ul>

  <div class="dna-about-img">
    <img src="./assets/images/dna-about.jpg" alt="dna">
  </div>
</div>