<footer class="footer">
  <div class="container footer-container">
    <div class="footer-left">
      <div class="footer-left__top">
        <div class="footer-left-first">
          <a href="#" class="footer-logo">
            <svg>
              <use href="#logo-icon"></use>
            </svg>
          </a>
        </div>

        <div class="footer-nav">
          <div class="footer-nav-list">
            <a href="#" class="footer-nav-list__link">О нас</a>
            <a href="#" class="footer-nav-list__link">О программе</a>
            <a href="#" class="footer-nav-list__link">Как это работает</a>
            <a href="#" class="footer-nav-list__link">Стать партнером</a>
            <a href="#" class="footer-nav-list__link">FAQ</a>
          </div>
          <div class="footer-nav-list">
            <a href="#" class="footer-nav-list__link">Контроль</a>
            <a href="#" class="footer-nav-list__link">Родственникам</a>
            <a href="#" class="footer-nav-list__link">Истории успеха</a>
            <a href="#" class="footer-nav-list__link">Контакты</a>
          </div>
        </div>

        <div class="footer-contacts">
          <a href="#" class="footer-contacts__link">+7 (495) 123-45-67</a>
          <a href="#" class="footer-contacts__link">Заказать обратный звонок</a>
        </div>
      </div>

      <div class="footer-legal">
        <div class="footer-left-first">
          <span class="footer-legal__text">&copy; ДНКОД, 2022</span>
        </div>

        <p class="footer-legal__info footer-legal__text">
          Начиная использовать ДНКОД (его отдельные функциональности), вы принимаете
          <a href="#">Пользовательское соглашение</a>
          и соглашаетесь c
          <a href="#">Политикой конфиденциальности</a>
          .
        </p>
      </div>
    </div>

    <div class="footer-right">
      <button type="button" class="footer-right__btn">
        Вход / регистрация
      </button>

      <ul class="footer-right-list">
        <li class="footer-right-list__item">
          <svg>
            <use href="#mir-icon"></use>
          </svg>
        </li>
        <li class="footer-right-list__item">
          <svg>
            <use href="#maestro-icon"></use>
          </svg>
        </li>
        <li class="footer-right-list__item">
          <svg>
            <use href="#visa-icon"></use>
          </svg>
        </li>
        <li class="footer-right-list__item">
          <svg>
            <use href="#apple-pay-icon"></use>
          </svg>
        </li>
        <li class="footer-right-list__item">
          <svg>
            <use href="#google-pay-icon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</footer>