<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <svg>
        <!-- <use href="#logo-icon_color"></use> -->
        <use href="#logo-icon-2_color"></use>
      </svg>
    </a>

    <div class="header-nav">
      <a href="#" class="header-nav__link">+7495 888 999</a>

      <div class="header-nav-btns">
        <button type="button" class="header-nav-btns__btn header-nav-btns__btn_profile">
          <svg>
            <use href="#profile-icon"></use>
          </svg>
        </button>
        <button type="button" class="header-nav-btns__btn header-nav-btns__btn_burger">
          <svg>
            <use href="#burger-icon"></use>
          </svg>
          <svg>
            <use href="#close-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  {{> _menu }}
</header>


