<div class="main-form">
  <div class="container main-form-container">
    <form action="#" class="main-form__form">
      <input type="text" class="main-form__input" placeholder="Ваше Имя">
      <input type="tel" class="main-form__input" placeholder="Номер телефона">
      <span class="main-form__legal">
        Нажимая на кнопку вы соглашаетесь с обработкой персональных данных
      </span>
      <button type="submit" class="main-form__btn">Получить</button>
    </form>

    <h4 class="main-form__title">
      Получите
      <span>бесплатную</span>
      консультацию специалиста
    </h4>
  </div>
</div>