<div class="main-top-wrapper">
  <section class="main-top">

    <div class="main-top-head">
      <div class="main-top-head-info">
        <h1 class="main-top-head-info__title">
          Восстановление
          Профилактика
          Контроль
        </h1>

        <p class="main-top-head-info__subtitle">
          Первая в России онлайн-платформа по лечению алкогольной, наркотической и других видов зависимостей на основе результата ДНК-теста.
        </p>

        <button type="button" class="main-top-head-info__btn">Стать участником</button>

        <a href="#" class="default-link main-top-head-info__link">УЗНАйТе ПОДРОБНЕЕ</a>
      </div>

      <div class="main-top-head-bg">
        <div class="main-top-head-bg__img">
          <img src="./assets/images/dna-book-2.png" alt="book">
        </div>

        <!-- <h3 class="main-top-head-bg__title">DNKOD BOX</h3> -->

        <div class="dna-anim main-top-dna">
          <div class="dna-anim__box">
            <span class="dna-anim__item dna-anim__item_left"></span>
            <span class="dna-anim__item dna-anim__item_right"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="main-top-mobile">
      <h3 class="main-top-mobile__title">DNKOD MOBILE</h3>

      <ul class="main-top-mobile-list">
        <li class="main-top-mobile-list__item main-top-mobile-list__item_1">
          <img src="./assets/images/dna-mobile-1.png" alt="dna-mobile">
        </li>
        <li class="main-top-mobile-list__item main-top-mobile-list__item_2">
          <img src="./assets/images/dna-mobile-2.png" alt="dna-mobile">
        </li>
      </ul>

      <a href="#" class="default-link main-top-mobile__link">ПОЛУЧИТе КОНСУЛЬТАЦИЮ</a>
    </div>

    <div class="main-top-test">
      <div class="main-top-test-box main-top-test-box_1">
        <div class="main-top-test-box__head">
          <h3 class="main-top-test-box__title">Набор для ДНК-теста по образцу слюны</h3>
          <a href="#" class="default-link">Заказать</a>
        </div>

        <div class="main-top-test-box__inner">
          <div class="main-top-test-box__img">
            <img src="./assets/images/box-1.png" alt="cover" class="main-top-test-box__img_4">
            <img src="./assets/images/box-2.png" alt="porolon" class="main-top-test-box__img_5">
            <img src="./assets/images/box-3.png" alt="buklet" class="main-top-test-box__img_6">
            <img src="./assets/images/box-4.png" alt="base" class="main-top-test-box__img_7">
          </div>
        </div>
      </div>

      <div class="main-top-test-box main-top-test-box_2">
        <div class="main-top-test-box__head">
          <h3 class="main-top-test-box__title">Вся программа в мобильном телефоне</h3>

          <div class="main-top-test-box__btns">
            <a href="#" class="main-top-test-box__link">
              <img src="./assets/images/appStore.png" alt="appStore">
            </a>
            <a href="#" class="main-top-test-box__link">
              <img src="./assets/images/googlePlay.png" alt="googlePlay">
            </a>
          </div>
        </div>

        <div class="main-top-test-box__inner">
          <div class="main-top-test-box__img main-top-test-box__img_1">
            <img src="./assets/images/dna-mobile-3.png" alt="dna-mobile">
          </div>
          <div class="main-top-test-box__img main-top-test-box__img_2">
            <img src="./assets/images/dna-mobile-4.png" alt="dna-mobile">
          </div>
          <div class="main-top-test-box__img main-top-test-box__img_3">
            <img src="./assets/images/dna-mobile-5.png" alt="dna-mobile">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>