<section class="main-slider">

  <div class="swiper main-slider-swiper">
    <div class="swiper-wrapper main-slider-swiper-wrapper">
      <div class="swiper-slide main-slider-swiper-slide">
        <div class="container main-slider-swiper-slide__container">
          <p class="main-slider-swiper-slide__text">
            “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
          </p>
          <div class="main-slider-swiper-slide__img">
            <img src="./assets/images/main-slider-1.jpg" alt="slide">
          </div>
          <h6 class="main-slider-swiper-slide__title">Джерард, 36 лет</h6>
          <a href="#" class="main-slider-swiper-slide__link">Читать историю</a>
        </div>
      </div>
      <div class="swiper-slide main-slider-swiper-slide">
        <div class="container main-slider-swiper-slide__container">
          <p class="main-slider-swiper-slide__text">
            “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
          </p>
          <div class="main-slider-swiper-slide__img">
            <img src="./assets/images/main-slider-1.jpg" alt="slide">
          </div>
          <h6 class="main-slider-swiper-slide__title">Ричард, 26 лет</h6>
          <a href="#" class="main-slider-swiper-slide__link">Читать историю</a>
        </div>
      </div>
      <div class="swiper-slide main-slider-swiper-slide">
        <div class="container main-slider-swiper-slide__container">
          <p class="main-slider-swiper-slide__text">
            “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
          </p>
          <div class="main-slider-swiper-slide__img">
            <img src="./assets/images/main-slider-1.jpg" alt="slide">
          </div>
          <h6 class="main-slider-swiper-slide__title">Джейсон, 42 года</h6>
          <a href="#" class="main-slider-swiper-slide__link">Читать историю</a>
        </div>
      </div>
      <div class="swiper-slide main-slider-swiper-slide">
        <div class="container main-slider-swiper-slide__container">
          <p class="main-slider-swiper-slide__text">
            “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
          </p>
          <div class="main-slider-swiper-slide__img">
            <img src="./assets/images/main-slider-1.jpg" alt="slide">
          </div>
          <h6 class="main-slider-swiper-slide__title">Олег, 25 лет</h6>
          <a href="#" class="main-slider-swiper-slide__link">Читать историю</a>
        </div>
      </div>
      <div class="swiper-slide main-slider-swiper-slide">
        <div class="container main-slider-swiper-slide__container">
          <p class="main-slider-swiper-slide__text">
            “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
          </p>
          <div class="main-slider-swiper-slide__img">
            <img src="./assets/images/main-slider-1.jpg" alt="slide">
          </div>
          <h6 class="main-slider-swiper-slide__title">Женя, 36 лет</h6>
          <a href="#" class="main-slider-swiper-slide__link">Читать историю</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-slider__container">
    <div class="main-slider-info">
      <h2 class="main-slider__title">Истории успеха</h2>

      <div class="main-slider-btns">
        <button class="main-slider-btns__btn main-slider__btn_prev">
          <svg>
            <use href="#arrow-icon_left"></use>
          </svg>
        </button>
        <button class="main-slider-btns__btn main-slider__btn_next">
          <svg>
            <use href="#arrow-icon_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>