<section class="main-slider">
  <div class="main-slider-swiper">
    <div class="main-slider-swiper-wrapper">
      <div class="main-slider-swiper-slide">
        <p class="main-slider-swiper-slide__text">
          “Уже три года, семь месяцев и 8 дней я не пил виски. Как это повлияло на мою жизнь? Спросите мою жену!”
        </p>
        <div class="main-slider-swiper-slide__img">
          <img src="./assets/images/main-slider-1.jpg" alt="slide">
        </div>
      </div>
    </div>
  </div>
</section>