<nav class="menu">
  <div class="container menu-container">
    <div class="menu-list-wrapper">
      <div class="menu-list">
        <a href="#" class="menu__link">О нас</a>
        <a href="#" class="menu__link">О программе</a>
        <a href="#" class="menu__link">Как это работает</a>
        <a href="#" class="menu__link">Контроль</a>
        <a href="#" class="menu__link">Родственникам</a>
        <a href="#" class="menu__link">Истории успеха</a>
        <a href="#" class="menu__link">Стать партнером</a>
        <a href="#" class="menu__link">FAQ</a>
        <a href="#" class="menu__link">Контакты</a>
      </div>
    </div>
  </div>
</nav>