<div class="modal-feedback">
  <div class="modal-feedback__bg"></div>

  <div class="modal-feedback__container">

    <form action="#" class="modal-feedback-form">
      <button type="button" class="modal-feedback-form__close-btn">
        <svg>
          <use href="#close-icon"></use>
        </svg>
      </button>

      <h3 class="modal-feedback-form__title">
        Получите <span>бесплатную</span> консультацию специалиста

      </h3>

      <div class="modal-feedback-form__inner">
        <input type="text" class="main-form__input" placeholder="Ваше Имя">
        <input type="tel" class="main-form__input" placeholder="Номер телефона">
        <span class="main-form__legal">
          Нажимая на кнопку вы соглашаетесь с обработкой персональных данных
        </span>
        <button type="submit" class="main-form__btn">Получить</button>
      </div>

      <div class="modal-feedback-form__send">
        <h3 class="modal-feedback-form__title">
          Спасибо, мы свяжемся с вами в ближайшее время
        </h3>
      </div>
    </form>

  </div>
</div>