<section class="product">
  <div class="container">

    <div class="product__container">

      <div class="product-photo-wrapper">
        <div class="swiper product-photo">
          <div class="swiper-wrapper">
            <div class="swiper-slide product-photo__item">
              <img src="./assets/images/product-box.png" alt="">
            </div>
            <div class="swiper-slide product-photo__item">
              <img src="./assets/images/product-box.png" alt="">
            </div>
          </div>
          <div class="product-photo__btns">
            <button type="button" class="product-photo__btn product-photo__btn_prev">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>